#workHour{
    background-color: #283747;

}
.col-md-5 h2{
    color: wheat;
    font-size: 1.4rem;
}
#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    height: 290px;
}
#navbar{
    background-color: #283747;
}
#navbar li a{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.body{
    background-color: #A9A9A9;    
}
