#workHour{
    background-color: #283747;

}
.col-md-5 h2{
    color: wheat;
    font-size: 1.4rem;
}
#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    height: 290px;
}
#navbar{
    background-color: #283747;
}

#navbar li a{
    color: red;
    font-family: monospace;
    font-size: x-large;
}

.body{
    background-color: #A9A9A9;    
}
#navbar .col-md-4{
    float: right;
}
.login-reg{
    display: inline;
}
.login-reg .nav-item .nav-link{
    color: black;
}
