#workHour {
    background-color: #283747;

}

#workHour div h3 {
    color: antiquewhite;
}

.col-md-5 h2 {
    color: wheat;
    font-size: 1.4rem;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    height: 290px;
}

#navbar {
    background-color: #283747;
}

#navbar li a {
    color:white;
    font-size: x-large;
}

.top-container {
    background-color: #A9A9A9;
    margin-top: 68px;
}

#navbar .col-md-4 {
    float: right;
}

.login-reg {
    margin: auto;
    width: 50%;
}

.grey-content {
    display: block;
    font-size: 1.9rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #283747;
    font-weight: bold;
    font-size: 3rem;
}



/* Galerija */
.gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%; 
}
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
    @media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
    }
    
    @media (max-width: 480px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
    .fixed-bottom{
        display: none;
    }
    }

img{
    transition: .4s all ease;
}

img:hover{
    transform: scale(1.05);
}
.container-fluid-gallerija{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.container-fluid-gallerija h1{
    font-size: 5rem;
    color: #283747;
    font-weight: bold;
}
.navbar-expand-lg{
    background-color: #283747;
}
.navbar-toggler-icon{
    background-color: #A9A9A9;
}